*{
	font-family: "Courier New", monospace;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

h2 {
	color: blue;	
}

#zuitt-motto {
	letter-spacing: 5px;

}
html{
	scroll-behavior: smooth;
}
body {
	background-color: aliceblue;
}
nav	{
	background-color: green;
}

section {
	
	text-align: center;
}
ol {
	list-style-type: none;

}

.offering-item {
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}