* {
	font-family: verdana, sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

header {
	margin: 5px;
	padding: 3px;
}

h1 {
	font-size: 3rem;
}

h2 {
	text-align: center;
}

nav {
	background-color: lightsalmon;
		
	border: 1px black solid;
}

section {
	margin: 5px;
	padding: 2px;
}



table {
	display:  block;
	margin-left: auto;
	margin-right: auto;
	width: 500px  ;
}

td {
	padding-left: 5px;
	width: 250px;
}

hr {
	margin: 20px;
}

img + ul {
	list-style-type: 	none;
	margin-top:  20px;
	margin-bottom: 	20px;
	padding-left: 	20px;
	margin-left: 	20px;
}

section > img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ .last_par {
	text-align: center;
}


.junior {
	background-color: #b2ff59;
}
.senior {
	border: #0000aa 2px solid;
}

.jnhs_img {
	display:  block;
	margin-left: auto;
	margin-right: auto;
}



#login {
	text-align: center;
}

#programs {
	background-color: beige;
}

#login {
	background-color: indianred;
}

#welcome {
	background-color: #7291f9;
}

#contact {
	background-color: darkorange;
}

#contact_details > li {
	letter-spacing: 10px;
}